.container .woocommerce{
    width:100%;
}
.container .woocommerce li{
    width:100% !important;
}


.container .woocommerce .products li{
    margin:0px 0px 10px 0px !important;
    padding-bottom:10px;

}

.container .woocommerce .products{
    border-bottom: solid 1px #ccc;

}


.container-woocommerce .quantity{
    width: 70px;
    float:left;
}

.container-woocommerce .quantity input{
    padding:5px !important;

}

.container-woocommerce .posted_in {display:none;}
.container-woocommerce .sku_wrapper {display:none;}
.container-woocommerce h1{    margin:20px 0px;}

.logo_title a:hover{
    color:#3a3a3a !important;
    text-decoration:none !important;
}


.book_container{

    min-height:380px;
}


.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


.article_content a{ text-decoration:underline;}

.homeicon a{
    padding:0px !important;
    margin-top: -4px;
}

.article_wrapper ul {
    list-style-type: circle;
}

.article_wrapper ul li{
    margin-left: 34px;
}

.event_wrapper .event_thumb .event_thumb_bg{
    background: rgba(50,50,50,0.64) !important;
}


.section_same_copybook .col-md-4{
    height: 200px !important;
}


.author_container p, .comment{font-size:18px !important;}

div.aligncenter{
    width:100% !important;
    text-align:center !important;
}


.article_wrapper ol{
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 30px;
}

.article_wrapper  ol li{
    margin-top:20px;
}

.tagged_as{
    display:none;
}

.list_az a{ float:left; background-color:#DDD; margin-bottom:10px; padding:4px 8px; margin-right:4px  }
.list_az a.selected { background-color: #333; color:#ddd }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe,.video-container object,.video-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.price del{
    display:none;
}

.price ins{
    text-decoration:none;
}


.article_wrapper .article_content p {
    margin: 0 0 30px 0 !important;
}


.heading p a{
    text-decoration:underline;
}

.article_wrapper ul {
    margin-bottom: 20px;
}


@media (max-width: 767px){
    .lead_wrapper {
        height: 200px;
    }
}


.lead_wrapper{
    max-width: 1860px;
    margin:auto;
}

.copybook_cover_wrapper{
    max-width: 1860px;
    margin:auto;
}
.home .section_nopadding .owl-carousel{
    background-color:#3b3b3b
}

.appstore img{
    width:100% !important;
}


@media (max-width: 767px){
    .article_wrapper .article_details p.comment {
        display:block !important;
    }

    .carousel_recensioni .abstract{
	display:none;
    }
}

/*
#order_comments_field {
    display: none;
}*/

.post-type-archive-recensione h3{
    text-transform:uppercase;
}

.carousel_recensioni h3{
      text-transform:uppercase;
    }
}


 .recensione_list_container p{
     text-transform:uppercase !important;
 }

 .recensione_list_container {
margin-bottom:10px !important;
}

.woocommerce-form__label-for-checkbox input{
    height:50px;
}

.woocommerce-form__label-for-checkbox span{
    padding-left:20px;
}