/*
HOVERNAV
========
A simple addition to the dropdown menu (Bootstrap itself is unchanged). Navbar dropdowns appear on hover.
This works only for screen sizes larger than phones.

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/wbst.js
*/
@media (min-width: 768px) {
  .navbar-nav .open ul {
    display: none
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block
  }
}

/*
MEGANAV
=======
A simple addition to the dropdown menu (Bootstrap itself is unchanged). When you add GRAND-CHILD links in the navbar: on screens larger than phones, Meganav will transform the dropdown into a mega-menu, with child-links displayed as menu-column heads (in bold).

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/wbst.js
*/
.mega-menu ul a {
	color: #666;
}
.mega-menu > ul > li > a {
	font-weight: bold !important
}
@media (max-width: 767px) {
	.has-children ul {
		display: block !important;
		margin-left: 15px
	}
}
@media (min-width: 768px) {
	.dropdown.mega-menu {
		position: static;
	}
	.mega-menu > .dropdown-menu {
		left: 0;
		right: 0;
		overflow-x: auto
	}
	.mega-menu > ul > li {
	  display:table-cell;
	}
	.mega-menu > ul ul {
		position: relative;
		display: block !important;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		padding: 0
	}
	.dropdown-menu li {
		border-right: 1px solid #e7e7e7
	}
    .dropdown-menu li li,
    .dropdown-menu li:last-of-type {
        border-right: 0
    }
}


/*
Max content widths
*/
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Site Title
*/

#site-title {
  margin-bottom: 40px
}

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/*
Site footer
*/

.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}

/*
Commentlist
*/

ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
    padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
    content: "Thread " counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    position:absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    padding: 5px 20px 5px 10px;
    color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
    list-style-type: none;
    margin: 0
}

.commentlist li li {
    background: #f8f8f8;
}
.commentlist li li li {
    background: #fff
}
.commentlist li li li li {
    background: #f8f8f8
}
.commentlist li li li li li li {
    background: #fff
}
.commentlist li {
    padding: 20px
}
.commentlist ul li {
    margin-top: 20px;
    margin-bottom: 0
}
.reply p {
    margin: 0
}

/*
WOOCOMMERCE - re-styling to match Bootstrap
===========================================
If you don't want this to use the WooCommerce plugin, or if you don't want these styles below, then delete this entire segment of the CSS and delete the corresponding segment of js/wbst.js
*/

.woocommerce a:focus {
  outline: none
}
.woocommerce .count {
  background: inherit
}
.woocommerce .added_to_cart {
  display: block !important
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
  padding-top: 0
}
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
	/* .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/* .btn-primary */
	color: #FFF;
	background: #337AB7;
	border-color: #2E6DA4;
	/* Extra fixes */
	text-shadow: none;
	box-shadow: none;
}
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
	/* .btn-primary:hover */
	color: #FFF;
	background: #286090;
	border-color: #204D74;
}
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
	/* .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	/* .btn-success */
	color: #FFF;
	background-color: #5CB85C;
	border-color: #4CAE4C;
	/* Extra fixes */
	text-shadow: none;
	box-shadow: none;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
	/* Extras fixes */
	background: none;
	text-shadow: none;
	/* .btn-success:hover */
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
	/* BOOTSTRAP THEME .btn-success:hover */
	background-color: #419641;
	background-position: 0px -15px;
}

.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error {
	/* Extra fixes */
	padding: 0;
	margin: 0;
	position: relative;
	border-top: none;
	background: none;
	text-shadow: none;
	list-style: outside none none !important;
	width: auto;
	box-shadow: none;
	/* .alert */
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	/* .alert-danger */
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:after,
.woocommerce-page .woocommerce-error:before {
	display: none;
}
